body {
  font-family: 20px Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: rgba(107, 61, 1, 0.863);
}

img {
  margin-left: 15px;
}

.quem-somos {
  background-color: rgb(230, 218, 213);
  color: rgb(23, 17, 60);
  font: 18px Arial, Helvetica, sans-serif;
}

.imagens-circle {
  margin-top: 50px;
}

.margin {
  /*margin-top: 20px; */
  padding-top: 10px;
  padding-bottom: 20px;
}

.text-container {
  padding: 20px 10px;
}

nav a {
  font: 28px Arial, Helvetica, sans-serif;
  color: white;
  margin-right: 20px;
}

nav a:hover {
  color: #ffffff;
}

.col-lg-4 {
  margin-top: 50px;
}

.parceiros {
  background-color: rgba(5, 4, 22, 0.863);
  color: white;
  font: 18px Arial, Helvetica, sans-serif;
}

.parceiros .margin {
  padding: 5px;
}

.col-md-2 {
  padding: 15px;
}

.title-container {
  font: 30px Arial, Helvetica, sans-serif;
  background-color: rgba(104, 73, 32, 0.863);
  color: white;
}

.servicos {
  background-color: rgb(230, 218, 213);
  font: 17px Arial, Helvetica, sans-serif;
}

.legenda {
  color: rgb(23, 17, 60);
}

.bg-footer {
  background-color: rgba(107, 61, 1, 0.863);
  color: white;
}
